@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn{
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  transition: all 0.3s ease;
}

.category-btn:hover{
  color: #ffffff;
  background-color: #1976D2;
}

.category-icon {
  margin-right: 10px;
}

span.time-ago {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}

.css-q0jhri-MuiInputBase-root-MuiInput-root:before, .css-q0jhri-MuiInputBase-root-MuiInput-root:after{
  border-bottom: none !important;
}